.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;

    table {
      width: 100%;

      tr {
        height: 80px;
        th {
          text-align: left;
          margin-bottom: 20px;
        }
        td {
          padding: 10px;
          &:nth-child(1) {
            font-weight: 600;
          }
          &:nth-child(2),
          &:nth-child(3) {
            color: gray;
          }
          button {
            padding: 5px;
            color: white;
            background-color: #1dbf73;
            border: 1px solid lightgray;
            cursor: pointer;
            border-radius: 5px;
            outline: none;
          }
        }
        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
